.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 8px 8px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;

    + .wrapper {
        margin-left: 16px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    width: 24px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.rounded {
    font-size: 1.4rem;
    border-radius: 999px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.toggled {
    position: relative;
    min-width: 44px;
    height: 24px;
    background-color: rgba(22, 24, 35, 0.12);
    margin-left: auto !important;
    margin-right: 8px;
    border-color: transparent;
    &:hover {
        border-color: transparent;
        background-color: rgba(22, 24, 35, 0.16);
    }
}

.icon-toggle {
    position: absolute;
    left: 2px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    color: var(--white);
}
.dark {
    left: auto;
    right: 2px;
}

.primary {
    background-color: var(--primary);
    color: var(--white);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
    }
}

.outline {
    border-color: currentColor;
    color: var(--primary);

    &:hover {
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.08);
    }
}

.text {
    align-items: center;
    border: 1px solid rgba(22, 24, 35, 0.12);
    font-weight: 600;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.small {
    min-width: 96px;
    padding: 8px 15px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
}
