.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    display: flex;
    justify-content: center;
    height: var(--default-layout-header-height, 60px);
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
}

.inner {
    width: 100%;
    height: 100%;
    padding: 0 24px 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    min-width: 300px;
}

//Action
.actions {
    display: flex;
    align-items: center;
}
.action-btn:nth-child(2) {
    margin-left: 32px;
}

.more-btn {
    display: flex;
    font-size: 2rem;
    margin-left: 16px;
    padding: 0px 4px 0 4px;
    font-weight: 400;
    background-color: transparent;
}

.action-btn {
    display: flex;
    align-items: center;
    color: rgb(22, 24, 35);
    background-color: transparent;
    margin-left: 19px;
    cursor: pointer;
    position: relative;
}

.user-avatar {
    margin-left: 24px;
    cursor: pointer;
    border-radius: 50%;
}

.mailbox::after {
    content: '12';
    position: absolute;
    top: -8px;
    right: -10px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    font-family: 'TikTokFont', sans-serif;
    border-radius: 10px;
    background-color: var(--primary);
}
